{{define "auth/signup.html"}}
    <!DOCTYPE html>
    <html lang="zh-CN">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/libs/admin-lte/plugins/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="/static/libs/iCheck/all.css">
        <link rel="stylesheet" href="/static/libs/admin-lte/dist/css/adminlte.min.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <title>用户注册</title>
    </head>
    <body class="register-page" style="min-height: 586.8px;">
    <div class="register-box">
        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">{{if not .message}}注册新用户{{else}}{{.message}}{{end}}</p>
                <form method="post" action="" id="signupForm" onsubmit="return checkPassword();">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="请输入昵称" name="nickname">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="请输入邮箱地址" name="email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="请输入密码" name="password"
                               id="form-password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="请确认密码" id="form-password-again">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">注册</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <a href="/signin" class="text-center">已有账号？点击登录</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    -->

    <script src="/static/libs/jquery/jquery.min.js"></script>
    <script src="/static/libs/jquery/jquery.form.min.js"></script>
    <script src="/static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/libs/admin-lte/dist/js/adminlte.min.js"></script>

    <script>


        function checkPassword() {
            if ($("#form-password").val() === $("#form-password-again").val()) {
                return true;
            } else {
                alert("两次密码输入不一致！");
                return false;
            }
        }

        $(document).ready(function () {
            $('#signupForm').ajaxForm(function (data) {
                if (data.succeed) {
                    alert("注册成功");
                    window.location.href = "/signin"
                } else {
                    $("#msg").text(data.message);
                    $("#msg").addClass("text-danger");
                }
            });
        });
    </script>

    </body>

    </html>
{{end}}