{{define "admin/post.html"}}
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Wblog - Post</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="/static/libs/admin-lte/plugins/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="/static/libs/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet"
              href="/static/libs/admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
        <link rel="stylesheet" href="/static/libs/admin-lte/dist/css/adminlte.min.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    </head>

    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        {{template "admin/navbar.html" .}}
        {{template "admin/sidebar.html" .}}


        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">
                                博文管理
                                <a class="btn btn-primary" href="/admin/new_post" role="button">新增</a>
                            </h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/admin/index">控制台</a></li>
                                <li class="breadcrumb-item active">博文管理</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">查看文章数据</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example2" class="table table-bordered table-hover dataTable dtr-inline"
                                           role="grid" aria-describedby="example2_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                rowspan="1" colspan="1" aria-sort="ascending"
                                                aria-label="Rendering engine: activate to sort column descending">ID
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1" aria-label="Browser: activate to sort column ascending">
                                                标题
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1"
                                                aria-label="Platform(s): activate to sort column ascending">公开
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1"
                                                aria-label="Engine version: activate to sort column ascending">创建时间
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1"
                                                aria-label="CSS grade: activate to sort column ascending">更新时间
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                colspan="1"
                                                aria-label="CSS grade: activate to sort column ascending">操作
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{range .posts}}
                                            <tr role="row">
                                                <td>{{.ID}}</td>
                                                <td><a href="/post/{{.ID}}" target="_blank">{{.Title}}</a></td>
                                                <td>
                                                    <a href="javascript:void(0);" onclick="pushlish('{{.ID}}')">
                                                        {{if .IsPublished}}√{{else}}×{{end}}</a>
                                                </td>
                                                <td>{{dateFormat .CreatedAt "06-01-02 15:04"}}</td>
                                                <td>{{dateFormat .UpdatedAt "06-01-02 15:04"}}</td>
                                                <td><a href="/admin/post/{{.ID}}/edit" target="_blank"
                                                       class="btn btn-primary">编辑</a>
                                                    <a href="#" class="btn btn-danger"
                                                       data-href="/admin/post/{{.ID}}/delete" data-toggle="modal"
                                                       data-target="#confirm-delete">删除</a>
                                                </td>
                                            </tr>
                                        {{end}}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content -->
            </div>


            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">请确认</h3>
                        </div>
                        <div class="modal-body">
                            确认删除该记录吗？
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <a class="btn btn-danger btn-ok text-light">删除记录</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- jQuery -->
            <script src="/static/libs/jquery/jquery.min.js"></script>
            <!-- Bootstrap 4 -->
            <script src="/static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- DataTables -->
            <script src="/static/libs/admin-lte/plugins/datatables/jquery.dataTables.min.js"></script>
            <script src="/static/libs/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
            <script src="/static/libs/admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
            <script src="/static/libs/admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
            <script src="/static/libs/admin-lte/dist/js/adminlte.min.js"></script>
            <script src="/static/libs/admin-lte/dist/js/demo.js"></script>
            <!-- page script -->
            <script>
                $(function () {
                    $('#example2').DataTable({
                        'paging': true,
                        'lengthChange': false,
                        'searching': false,
                        'ordering': true,
                        'info': true,
                        'autoWidth': false
                    });
                });

                function pushlish(id) {
                    $.post("/admin/post/" + id + "/publish", {}, function (result) {
                        console.log(result);
                        if (result.succeed) {
                            window.location.href = window.location.href;
                        }
                    }, "json")
                }

                $('#confirm-delete').on('show.bs.modal', function (e) {
                    $(this).find('.btn-ok').click(function () {
                        $.post($(e.relatedTarget).data('href'), {}, function (reuslt) {
                            window.location.href = window.location.href;
                        }, 'json');

                    });
                });
            </script>
    </body>

    </html>
{{end}}