{{define "admin/sidebar.html"}}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                {{if gt (len .user.AvatarUrl) 0}}
                <img src="{{.user.AvatarUrl}}" class="img-circle" alt="User Image">
                {{else}}
                <img src="/static/libs/AdminLTE/img/avatar.png" class="img-circle" alt="User Image">
                {{end}}
            </div>
            <div class="info">
                <a href="#" class="d-block">{{.user.Email}}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item menu-open">
                    <a href="/admin/index" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            控制台
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/post" class="nav-link">
                        <i class=" nav-icon fas fa-book"></i>
                        <p>
                            博文管理
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/page" class="nav-link">
                        <i class="nav-icon fas fa-pager"></i>
                        <p>页面管理
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/user" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>用户管理
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/banner" class="nav-link">
                        <i class="nav-icon fas fa-image"></i>
                        <p>轮播管理
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/subscriber" class="nav-link">
                        <i class="nav-icon fas fa-eye"></i>
                        <p>订阅管理
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/link" class="nav-link">
                        <i class="nav-icon fas fa-link"></i>
                        <p>友情链接
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
{{end}}