{{define "navigation.html"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Wblog</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/index">博文<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/page/6">关于</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/rss">RSS</a></li>
                <li class="nav-item"><a class="nav-link" href="subscribe">订阅</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                {{if .user}}
                <li class="nav-item"><a href="/admin" class="nav-link">控制台</a></li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">
                        退出登录
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/profile" class="navbar-brand">
                        {{if gt (len .user.AvatarUrl) 0}}
                        <img src="{{.user.AvatarUrl}}" style="width: 30px;" alt="User Image"
                            class="rounded-circle nav-img">
                        {{else}}
                        <img src="/static/libs/AdminLTE/img/av.png" style="width: 25px;" class="rounded-circle"
                            alt="User Image">
                        {{end}}
                    </a>
                </li>
                {{else}}
                <li><a href="/signin">登录</a></li>
                {{end}}
            </ul>

        </div>
    </div>
</nav>
{{end}}