{{define "index/index.html"}}
<!DOCTYPE html>
<html lang="zh-CN">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{template "meta.html"}}

    <title>Blog</title>
    <link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://ico.z01.com/zico.min.css">

    <link rel="stylesheet" href="/static/css/blog-home.css">
    <link rel="stylesheet" href="/static/css/base.css">

</head>

<body>

    {{template "navigation.html" .}}

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div id="mCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {{ range $k,$v := .images}}
                        {{if eq $k 0}}
                        <li data-target="#mCarousel" data-slide-to="0" class="active"></li>
                        {{else}}
                        <li data-target="#mCarousel" data-slide-to={{$k}}></li>
                        {{end}}
                        {{end}}
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        {{ range $k,$v := .images}}
                        {{if eq $k 0}}
                        <div class="carousel-item active">
                            {{else}}
                            <div class="carousel-item">
                                {{end}}
                                <img src={{$v.Path}}>
                                <div class="carousel-caption d-none d-md-block">
                                    <!-- <h3>Title</h3> -->
                                    <p>{{$v.Description}}</p>
                                </div>
                            </div>
                            {{end}}

                        </div>
                        <a class="carousel-control-prev" href="#mCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#mCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <section class="article">
                        {{range $postkey,$postvalue:=.posts}}
                        <div class="articleInfo">
                            <span><a class="articleTitle" href="/post/{{$postvalue.ID}}">
                                    {{$length := len $postvalue.Title}}
                                    {{if ge $length 40}}
                                    {{truncate $postvalue.Title 40}}...
                                    {{else}}
                                    {{$postvalue.Title}}
                                    {{end}}
                                </a></span>
                            <span class="createdTime" style="margin-right: 10px;">
                                {{dateFormat $postvalue.CreatedAt "06-01-02 15:04"}}
                            </span>
                        </div>
                        <div class="articleBody">
                            {{$length = len $postvalue.Body}}
                            {{if ge $length 100}}
                            {{truncate $postvalue.Body 100}}...
                            {{else}}
                            {{$postvalue.Body}}
                            {{end}}
                        </div>
                        <!-- article tags -->
                        <div style="margin-top: 10px">
                            <tr>
                                {{range $tagkey,$tagvalue:=$postvalue.Tags}}
                                <a href="/tag/{{$tagvalue.ID}}" class="changeTag"
                                    style="color: #888888;text-decoration: none;">
                                    # <span>{{$tagvalue.Name}}</span>&nbsp;&nbsp;
                                </a>
                                {{end}}
                            </tr>
                        </div>
                        <hr>
                        {{end}}
                    </section>

                    {{if le .pageIndex .totalPage}}
                    <ul class="pagination justify-content-center">
                        {{if le .pageIndex 1}}
                        <li class="disabled page-item"><a class="page-link" href="#">上一页</a></li>
                        {{else}}
                        <li class="page-item"><a class="page-link" href="{{.path}}?page={{minus .pageIndex 1}}">上一页</a>
                        </li>
                        {{end}}
                        <li class="page-item">{{ .pageIndex }}/ {{ .totalPage }}</li>
                        {{if lt .pageIndex .totalPage }}
                        <li class="page-item"><a class="page-link" href="{{.path}}?page={{add .pageIndex 1}}">下一页</a>
                        </li>
                        {{ else}}
                        <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
                        {{end}}
                    </ul>
                    {{end}}

                </div>

                <div class="col-md-4">
                    <div class="card-deck">
                        <div class="card bg-light mb-3">
                            <div class="card-body">
                                <h5><i class="zi zi_tags"></i></span> 文章标签</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                {{range $tagkey,$tagvalue:=.tags}}
                                {{if isEven $tagkey}}
                                <li class="list-group-item"><a
                                        href="/tag/{{$tagvalue.ID}}">{{$tagvalue.Name}}({{$tagvalue.Total}}
                                        )</a>
                                </li>
                                {{end}}
                                {{end}}
                            </ul>
                            <ul class="list-group list-group-flush">
                                {{range $tagkey,$tagvalue:=.tags}}
                                {{if isOdd $tagkey}}
                                <li class="list-group-item"><a
                                        href="/tag/{{$tagvalue.ID}}">{{$tagvalue.Name}}({{$tagvalue.Total}}
                                        )</a>
                                </li>
                                {{end}}
                                {{end}}
                            </ul>
                        </div>
                        <div class="card bg-light mb-3">

                            <div class="card-body">
                                <h5><i class="zi zi_book"></i></span> 文章归档</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                {{range $archivekey,$archivevalue:=.archives}}
                                {{if isEven $archivekey}}
                                <li class="list-group-item">
                                    <a href="/archives/{{$archivevalue.Year}}/{{$archivevalue.Month}}">{{dateFormat $archivevalue.ArchiveDate "2006年01月"}}
                                        ({{$archivevalue.Total}})</a>
                                </li>
                                {{end}}
                                {{end}}
                            </ul>
                            <ul class="list-group list-group-flush">
                                {{range $archivekey,$archivevalue:=.archives}}
                                {{if isOdd $archivekey}}
                                <li class="list-group-item">
                                    <a href="/archives/{{$archivevalue.Year}}/{{$archivevalue.Month}}">{{dateFormat $archivevalue.ArchiveDate "2006年01月"}}
                                        ({{$archivevalue.Total}})</a>
                                </li>
                                {{end}}
                                {{end}}
                            </ul>
                        </div>
                        <div class="card bg-light mb-3">

                            <div class="card-body">
                                <h5><i class="zi zi_bookopen"></i></span> 阅读最多</h5>

                            </div>
                            <ul class="list-group list-group-flush">
                                {{range $key,$post:=.maxReadPosts}}
                                <li class="list-group-item"><a
                                        href="/post/{{$post.ID}}">{{$post.Title}}({{$post.View}})</a></li>
                                {{end}}
                            </ul>
                        </div>
                        <div class="card bg-light mb-3">

                            <div class="card-body">
                                <h5><i class="zi zi_comment"></i></span> 评论最多</h5>

                            </div>
                            <ul class="list-group list-group-flush">
                                {{range $key,$post:=.maxCommentPosts}}
                                <li class="list-group-item"><a
                                        href="/post/{{$post.ID}}">{{$post.Title}}({{$post.CommentTotal}})</a>
                                </li>
                                {{end}}
                            </ul>
                        </div>
                        <div class="card bg-light mb-3">

                            <div class="card-body">
                                <h5><i class="zi zi_link"></i></span> 友情链接</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                {{range .links}}
                                <li class="list-group-item"><a href="/link/{{.ID}}" target="_blank"
                                        title="{{.Url}}">{{.Name}}</a>
                                </li>
                                {{end}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            {{template "footer.html"}}

        </div>
        <script src="/static/libs/jquery/jquery.min.js"></script>
        <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
{{end}}